footer.footer
    .footer__copyright
        span Все права защищены. Любое использование материалов допускается только с согласия ООО "Твой Снабженец"
    .footer__feedback.feedback
        .feedback__opener
            a(href='#').js-feedback-opener Оставить запрос
        .feedback__form.js-feedback
            form
                .feedback__input
                    input(type='text' placeholder='Ваше имя *')
                .feedback__input
                    input(type='text' placeholder='Организация *')
                .feedback__input
                    input(type='text' placeholder='e-mail *')
                .feedback__input
                    input(type='text' placeholder='Телефон *')
                .feedback__input
                    textarea(placeholder='Сообщение')
                .feedback__personal
                    input(id='checkbox-personal' type='checkbox' value='1')
                    label(for='checkbox-personal')
                    a(href='#' target='_blank').personal__link Я даю согласие на обработку персональных данных
                .feedback__btn
                    a Отправить