header.header
    .header__mobile-bar
        .header__burger
        .header__search-mob
    .header__top
        .header__phone.phone
            .phone__icon
            .phone__link
                a(href='tel:+78126949283') +7 (812) 694-92-83
        .header__email.email
            .email__icon
            .email__link
                a(href='mailto:info@tvoisnabjenec.ru') info@tvoisnabjenec.ru
        .header__address.address
            .address__icon
            .address__link
                a(href='#') 196105, г.Санкт-Петербург, ул. Кузнецовская, дом 52, корп.8 литер Ж, помещение 11Н, комн. 2