.header

  &__top
    background-color: $red
    padding: 10px 11px
    text-align: center
    color: $white
    font-size: 10px
    line-height: 14px
    border-top: 1px solid $red_light
    border-bottom: 1px solid $red_light

    @media $tablet
      font-size: 9px


    @media $desktop_small
      display: flex
      justify-content: space-between
      padding: 10px 20px
      height: 60px

      font-size: 12px

    @media $desktop
      padding: 10px 72px
      font-size: 16px

  .phone
    font-weight: bold

    @media $tablet
      display: flex
      justify-content: center
      align-items: center

    &__icon
      display: none

      @media $tablet
        display: block
        margin-right: 5px
        width: 12px
        height: 13px
        background-size: cover
        background-repeat: no-repeat
        background-position: center center
        background-image: url('../img/general/header-phone.png')

      @media $desktop_small
        width: 31px
        height: 32px
        margin-right: 7px

  .email
    font-weight: bold

    @media $tablet
      display: flex
      justify-content: center
      align-items: center

    &__icon
      display: none

      @media $tablet
        display: block
        margin-right: 5px
        width: 11px
        height: 8px
        background-size: cover
        background-repeat: no-repeat
        background-position: center center
        background-image: url('../img/general/header-email.png')

      @media $desktop_small
        width: 28px
        height: 20px
        margin-right: 7px


  .address

    @media $tablet
      display: flex
      justify-content: center
      align-items: center


    &__icon
      display: none

      @media $tablet
        display: block
        margin-right: 5px
        width: 7px
        height: 12px
        background-size: cover
        background-repeat: no-repeat
        background-position: center center
        background-image: url('../img/general/header-address.png')

      @media $desktop_small
        width: 18px
        height: 31px
        margin-right: 7px
        
  &__mobile-bar
    display: flex
    justify-content: space-between
    align-items: center
    background-color: $white
    height: 44px
    padding: 0 21px 0 17px
    position: relative

    @media $desktop_small
      display: none

  &__burger
    background-image: url('../img/general/header-burger.png')
    background-size: cover
    background-position: center center
    background-repeat: no-repeat
    width: 32px
    height: 19px

  &__menu-mob
    display: none
    position: absolute
    top: 0
    left: 0
    background-color: $gray2
    padding: 24px 2px 21px
    text-align: center

    @media $tablet
      padding: 59px 15px 52px

    .menu

      &__item
        text-transform: uppercase
        font-size: 7px
        line-height: 16px
        color: $blue_dark
        font-weight: bold

        @media $tablet
          font-size: 16px
          line-height: 36px

        &_active
          color: $red

  &__search-mob

    .search-mob

      &__btn
        background-image: url('../img/general/header-search.png')
        background-size: cover
        background-position: center center
        background-repeat: no-repeat
        width: 20px
        height: 20px

      &__form
        position: absolute
        top: 4px
        right: 6px
        display: none

      &__input
        width: 265px
        height: 37px
        border: none
        background-color: $gray
        padding: 10px

      &__button
        background-image: url('../img/general/header-search.png')
        background-size: cover
        background-position: center center
        background-repeat: no-repeat
        width: 20px
        height: 20px
        border: 0
        padding: 0
        position: absolute
        top: 8px
        right: 15px
        background-color: transparent
        cursor: pointer

  &__bottom
    display: flex
    justify-content: center
    padding: 25px 20px 23px

    @media $tablet
      padding: 35px 20px

    @media $desktop
      padding: 107px 72px 101px

  &__logo
    width: 198px
    height: 56px

    @media $desktop
      width: 289px
      height: 74px

  &__menu
    display: none

    @media $desktop_small
      display: block
      margin-top: 13px
      margin-left: 40px

    .menu

      &__list
        display: flex

      &__item
        margin-right: 25px
        position: relative

        text-transform: uppercase
        color: $blue_dark
        font-size: 16px
        font-weight: bold
        transition: .3s color ease

        &_active
          color: $red

        @media $desktop
          font-size: 24px

        &:hover
          color: $red

          & > .submenu
            display: block

    .submenu
      display: none
      position: absolute
      z-index: 2
      top: 100%
      left: -20px
      width: 320px
      padding: 20px
      background-color: $white

      &__item
        margin-bottom: 10px

        font-size: 14px
        color: $blue_dark
        transition: .3s color ease

        &:hover
          color: $red

  &__search
    display: none

    @media $desktop_small
      display: block
      margin-top: 13px
      flex-grow: 1
      position: relative
      width: 20px

    @media $desktop
      margin-top: 19px

    .search

      &__btn
        margin: 0 15px 0 auto
        background-image: url('../img/general/header-search.png')
        background-size: cover
        background-position: center center
        background-repeat: no-repeat
        width: 20px
        height: 20px
        cursor: pointer

      &__form
        position: absolute
        top: -8px
        right: 0
        display: none

        @media $desktop
          right: -5px

      &__input
        width: 265px
        height: 37px
        border: none
        background-color: $gray
        padding: 10px

      &__button
        background-image: url('../img/general/header-search.png')
        background-size: cover
        background-position: center center
        background-repeat: no-repeat
        width: 20px
        height: 20px
        border: 0
        padding: 0
        position: absolute
        top: 8px
        right: 15px
        background-color: transparent
        cursor: pointer