extends ../layout/main

block variables
    - var title = 'Каталог'
    - var pageClass = 'catalog'

block content
    .catalog__wrap
        .catalog__left
            .catalog__categories.categories
                ul.categories__list
                    li.categories__item.categories__item_active
                        a(href='#') Кабельно-проводниковая продукция
                    li.categories__item
                        a(href='#') Пожарное оборудование
                    li.categories__item
                        a(href='#') Часофикация
                    li.categories__item
                        a(href='#') Крепёж
                    li.categories__item
                        a(href='#') Сантехническое оборудование
                    li.categories__item
                        a(href='#') Электрика и свет
            .catalog__breadcrumbs.breadcrumbs
                ul.breadcrumbs__list
                    li.breadcrumbs__item
                        a(href='#') Пожарное оборудование
                    li.breadcrumbs__item
                        a(href='#') Модули пожаротушения
                    li.breadcrumbs__item
                        a(href='#') Баллоны и кронштейны
        .catalog__right
            .catalog__goods.goods
                ul.goods__list
                    li.goods__item.subcat
                        a(href='#')
                            .subcat__img
                                img(src='/static/img/content/subcat-1.jpg')
                            .subcat__name
                                span Модули пожаротушения (21)
                    li.goods__item.subcat
                        a(href='#')
                            .subcat__img
                                img(src='/static/img/content/subcat-2.jpg')
                            .subcat__name
                                span Баллоны и кронштейны (12)
                    li.goods__item.subcat
                        a(href='#')
                            .subcat__img
                                img(src='/static/img/content/subcat-3.jpg')
                            .subcat__name
                                span Бессварные муфтовые соеднинения (223)
                    li.goods__item.subcat
                        a(href='#')
                            .subcat__img
                                img(src='/static/img/content/subcat-4.jpg')
                            .subcat__name
                                span Средства и системы охранно-пожарной сигнализации (33)
                    li.goods__item.subcat
                        a(href='#')
                            .subcat__img
                                img(src='/static/img/content/subcat-5.jpg')
                            .subcat__name
                                span Огнезащитные краски (6)

