extends ../layout/main

block variables
    - var title = 'Доставка и оплата'
    - var pageClass = 'textpages'

block content
    .textpages__wrap
        h2.like-h2 Доставка
        p Мы будем рады доставить ваш товар в любую точку города Санкт-Петербурга и Ленинградской области бесплатно!
        p Доставка в регионы осуществляется с привлечением транспортных компаний и ее стоимость оговаривается индивидуально и оплачивается покупателем самостоятельно, либо осуществляется силами компании. Наши менеджеры всегда готовы помочь Вам выбрать транспортную компанию и рассчитать стоимость доставки.
        h2.like-h2 оплата
        p Оплата юридическими лицами осуществляется без использования наличных средств, посредством перечисления денежных средств на расчётный счёт нашей компании. Оплата от физических лиц не принимается.
        p Мы рады видеть вас нашими клиентами!