extends ../layout/main

block variables
    - var title = 'Госзаказ'
    - var pageClass = 'textpages'

block content
    .textpages__wrap
        p Все чаще многие компании сталкиваются с необходимостью работы в рамках государственного оборонного заказа (ГОЗ). Ведение таких контрактов процедура не простая, накладывающая на исполнителей дополнительные обязанности и функции. Деятельность компании становится прозрачной для контролеров таких как Казначейство, ФАС, ФСБ. Многих поставщиков отпугивает необходимость открытия специальных счетов, особенности документального оформления и учета операций, возникает множество вопросов по работе в рамках ГОЗ. Заводы – изготовители отказываются от подобных заказов, они не готовы делать поставки оборудования.  В итоге компании-заказчики вынуждены искать тех, кто готов и может поставить данную продукцию на вышеперечисленных условиях и зачастую-по завышенным ценам.  
        p Наша компания давно работает с подобными контрактами и мы готовы выполнить для вас  все поставленные перед нами задачи с максимальным качеством  в кратчайшие сроки! 
