extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index'

block content
	.index__img
		img(src='/static/img/content/index.jpg' alt='Главная страница')
	h1.like-h1 О компании
	.index__text
		p.center Мы не просим вас выбрать нас в качестве поставщика, вы сделаете это сами!
		p Если Вы когда-нибудь занимались поиском одновременно разных групп материалов и оборудования, от простых огнетушителей до модулей пожаротушения , от лампочек до АВР, от простейших камер до систем видеонаблюдения, от смесителя до инженерной сантехники, то есть  проектными поставками – то вы уже сталкивались с достаточно серьезной проблемой.
		p Купить это все у одной компании практически невозможно или закупка должна быть достаточно крупной для получения приемлемых цен. Есть еще минус - любой крупный поставщик подобной номенклатуры, никогда не будет искать для вас альтернативу и предлагать варианты, аналоги, ему не интересно решать ваши задачи.  Причина – у него и так купят.  Ему выгоднее получить объем. И бороться за каждого «маленького» клиента он просто не будет.
		p Еще одна «сторона медали» с которой сейчас сталкиваются многие компании, работающие с государственными заказами, с бюджетной сферой. Заводы – изготовители отказываются от подобных заказов, они не готовы делать поставки оборудования  в связи с долгой и сложной системой оформления подобных договоров, документации, открытием специальных счетов, банковских счетов УФК и прочего.  В итоге компании-заказчики вынуждены искать тех, кто готов и может поставить данную продукцию на вышеперечисленных условиях и зачастую-по завышенным ценам.
		p Мы готовы выполнить обе эти задачи и не только их! Достаточно проработав на рынке комплексных, проектных поставок оборудования и материалов, мы не боимся трудностей и готовы заменить для вас целый отдел снабжения, сделать то, что уважаемые  «монстры» рынка делать просто не будут. Работа под проекты, работа с гособоронзаказами, комплектация заказов любой сложности.  Мы выполним все качественно и в срок. Нашей оперативностью работы и ценами вы будете приятно удивлены.
		br
		br
		p Будем рады внести свой вклад в развитие Вашего бизнеса и стать Вашими партнерами!
	.index__vendors.vendors
		.vendors__list.js-vendor-slider
			.vendors__item
				a(href='#')
					img(src='/static/img/content/vendor-logo-1.png' alt='Vendor-1')
			.vendors__item
				a(href='#')
					img(src='/static/img/content/vendor-logo-2.png' alt='Vendor-2')
			.vendors__item
				a(href='#')
					img(src='/static/img/content/vendor-logo-3.png' alt='Vendor-3')
			.vendors__item
				a(href='#')
					img(src='/static/img/content/vendor-logo-4.png' alt='Vendor-4')
			.vendors__item
				a(href='#')
					img(src='/static/img/content/vendor-logo-5.png' alt='Vendor-5')
			.vendors__item
				a(href='#')
					img(src='/static/img/content/vendor-logo-6.png' alt='Vendor-6')
			.vendors__item
				a(href='#')
					img(src='/static/img/content/vendor-logo-1.png' alt='Vendor-1')
			.vendors__item
				a(href='#')
					img(src='/static/img/content/vendor-logo-2.png' alt='Vendor-2')
			.vendors__item
				a(href='#')
					img(src='/static/img/content/vendor-logo-3.png' alt='Vendor-3')
			.vendors__item
				a(href='#')
					img(src='/static/img/content/vendor-logo-4.png' alt='Vendor-4')
			.vendors__item
				a(href='#')
					img(src='/static/img/content/vendor-logo-5.png' alt='Vendor-5')
			.vendors__item
				a(href='#')
					img(src='/static/img/content/vendor-logo-6.png' alt='Vendor-6')