extends ../layout/main

block variables
    - var title = 'Новость'
    - var pageClass = 'new'

block content
    .new__wrap
        .new__date 
            span 14 июня 2020
        .new__name
            h1 Apple представляет совершенно новый MacBook Pro с дисплеем Retina
        .new__img
            img(src='/static/img/content/news-1.jpg' alt='Новость 1')
        .new__text
            p Сегодня компания Apple представила совершенно новый 15-дюймовый MacBook Pro с потрясающим дисплеем Retina, flash-накопителем и четырёхъядерными процессорами в существенно более тонком и легком корпусе. Толщиной всего 1,8 см и весом 2,02 кг, полностью обновленный MacBook Pro устанавливает новый стандарт в области производительности и портативности продуктов для профессиональных пользователей.
            p Сегодня компания Apple представила совершенно новый 15-дюймовый MacBook Pro с потрясающим дисплеем Retina, flash-накопителем и четырёхъядерными процессорами в существенно более тонком и легком корпусе. Толщиной всего 1,8 см и весом 2,02 кг, полностью обновленный MacBook Pro устанавливает новый стандарт в области производительности и портативности продуктов для профессиональных пользователей.
            p Сегодня компания Apple представила совершенно новый 15-дюймовый MacBook Pro с потрясающим дисплеем Retina, flash-накопителем и четырёхъядерными процессорами в существенно более тонком и легком корпусе. Толщиной всего 1,8 см и весом 2,02 кг, полностью обновленный MacBook Pro устанавливает новый стандарт в области производительности и портативности продуктов для профессиональных пользователей.
            p Сегодня компания Apple представила совершенно новый 15-дюймовый MacBook Pro с потрясающим дисплеем Retina, flash-накопителем и четырёхъядерными процессорами в существенно более тонком и легком корпусе. Толщиной всего 1,8 см и весом 2,02 кг, полностью обновленный MacBook Pro устанавливает новый стандарт в области производительности и портативности продуктов для профессиональных пользователей.
            p Сегодня компания Apple представила совершенно новый 15-дюймовый MacBook Pro с потрясающим дисплеем Retina, flash-накопителем и четырёхъядерными процессорами в существенно более тонком и легком корпусе. Толщиной всего 1,8 см и весом 2,02 кг, полностью обновленный MacBook Pro устанавливает новый стандарт в области производительности и портативности продуктов для профессиональных пользователей.
            