extends ../layout/main

block variables
    - var title = 'Новости'
    - var pageClass = 'news'

block content
    h1.like-h1 Новости
    .news__wrap
        .news__list
            a(href='new.html').news__item.new
                .new__img
                    img(src='/static/img/content/news-1.jpg' alt='Новость 1')
                .new__main
                    .new__date 
                        span 14 июня 2020
                    .new__name
                        span Apple представляет совершенно новый MacBook Pro с дисплеем Retina
                    .new__text
                        p Сегодня компания Apple представила совершенно новый 15-дюймовый MacBook Pro с потрясающим дисплеем Retina, flash-накопителем и четырёхъядерными процессорами в существенно более тонком и легком корпусе. Толщиной всего 1,8 см и весом 2,02 кг, полностью обновленный MacBook Pro устанавливает новый стандарт в области производительности и портативности продуктов для профессиональных пользователей.
            .news__item.new
                .new__img
                    img(src='/static/img/content/news-2.jpg' alt='Новость 2')
                .new__main
                    .new__date 
                        span 13 июня 2020
                    .new__name
                        span Foxconn выпускает полмиллиона iPhone 5s ежедневно, чтобы выполнить заказ Apple
                    .new__text
                        p Каждую неделю поступают сводки с полей борьбы с дефицитом. Apple всеми силами старается преодолеть нехватку iPhone 5s.