// ЦВЕТА
$red = #e6282c
$red_light = #f28c90

$blue_dark = #3e4749
$blue_dark2 = #2f3f40
$blue_dark3 = #4e5252
$blue_dark4 = #253537
$blue_dark5 = #2a383b

$white = #fff
$black = #000

$gray = #e8e8e8
$gray2 = #f1f1f1
$gray3 = #b5b5b5
$gray_dark = #232323
$gray_dark2 = #383838

// РАЗМЕРЫ
baseFontSize = 16px


// ШРИФТЫ
$mainFont = 'Verdana', 'Geneva', 'sans-serif'

// ТОЧКИ ПЕРЕХОДА

$desktop = 'screen and (min-width: 1700px)'
$desktop_small = 'screen and (min-width: 1200px)'
$tablet = 'screen and (min-width: 768px)'