// ЦВЕТА
$red = #e6282c;
$red_light = #f28c90;
$white = #fff;

// РАЗМЕРЫ
baseFontSize = 16px


// ШРИФТЫ
$mainFont = 'Verdana', 'Geneva', 'sans-serif'

// ТОЧКИ ПЕРЕХОДА

$desktop = 'screen and (min-width: 1600px)'
$desktop_small = 'screen and (min-width: 1200px)'
$tablet = 'screen and (min-width: 768px)'