.catalog

  &__wrap
    @media $desktop_small
      display: flex
      align-items: flex-start

      padding-top: 60px
      position: relative

  &__left
    margin-bottom: 51px

  &__right
    margin-bottom: 100px

    @media $desktop_small
      padding-left: 80px

    @media $desktop
      padding-left: 160px

  .categories

    &__list

      @media $tablet
        display: flex
        flex-grow: 0
        flex-shrink: 0
        flex-wrap: wrap
        justify-content: center

      @media $desktop_small
        display: block

    &__item
      max-width: 250px
      margin: 0 auto 33px

      font-size: 14px
      line-height: 16px
      font-weight: bold
      color: $blue_dark4
      text-align: center

      @media $tablet
        max-width: 140px
        margin: 0
        padding: 0 12px 10px 0

        font-size: 11px

      @media $desktop_small
        width: 250px
        height: 100px
        margin-bottom: 21px
        max-width: none
        background-color: $red
        display: flex
        align-items: center
        justify-content: center

        font-size: 18px
        line-height: 24px
        color: $white
        padding: 10px

      @media $desktop
        font-size: 24px
        line-height: 36px
        width: 450px
        height: 144px

      &_active
        text-decoration underline

        @media $desktop_small
          background-color $red_dark  


      &:last-child
        margin-bottom: 0

        @media $tablet
          margin-right: 0


  .goods

    &__list

      @media $tablet
        display: flex
        flex-wrap: wrap
        justify-content: flex-start
        padding: 0 35px

      @media $desktop_small
        justify-content: space-between
        padding: 0

      @media $desktop
        max-width: 1000px

    &__item
      max-width: 250px
      margin: 0 auto 35px

      @media $tablet
        max-width: none
        width: calc((100% - 135px) / 2)
        margin: 0 86px 20px 0

      @media $desktop
        width: 430px
        margin-bottom: 75px

      &:nth-child(even)

        @media $tablet
          margin-right: 0


  .subcat

    &:last-child
      margin-bottom: 0

    &__img
      margin: 0 auto 5px
      box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.35)
      text-align: center

      @media $tablet
        height: 185px

      @media $desktop_small
        margin-bottom: 30px
        box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.35)

      @media $desktop
        height: 260px

    &__name
      font-size: 14px
      line-height: 22px
      color: $blue_dark4
      font-weight: bold

  



  .breadcrumbs
    display: none

    @media $tablet
      display: block


    @media $desktop_small
      position: absolute
      top: 0
      left: 215px

    @media $desktop
      left: 315px

    &__list
      display: flex
      flex-wrap: wrap
      flex-grow: 0
      flex-shrink: 0
      justify-content: center

    &__item
      padding: 0 15px

      font-size: 11px
      line-height: 22px
      color: $gray3

      @media $desktop_small
        font-size: 18px
        line-height: 36px

  &_category

    .product
      @extends .catalog .subcat

    .catalog

      &__left

        @media $desktop_small
          display: flex
          flex-direction: column-reverse



  &_product

    .product
      padding: 0 12px

      color: $blue_dark5

      @media $tablet 
        padding: 0 38px

      @media $desktop
        padding: 0

      &__image-name

        @media $tablet
          display: flex
          flex-direction: column-reverse
          margin-right: 40px

        @media $desktop
          margin-right: 165px

      &__main

        @media $tablet
          display: flex
          align-items: flex-start
          margin-bottom: 55px

      &__img
        margin-bottom: 20px
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.35)

        @media $tablet
          max-width: 250px
          margin-bottom: 0

        @media $desktop
          max-width: 500px

      &__name
        margin-bottom: 30px

        font-size: 12px
        line-height: 22px
        font-weight: bold

        @media $tablet
          font-size 14px
          line-height 24px

        @media $desktop
          font-size: 24px
          line-height: 36px
          
        
      &__price
        margin-bottom: 25px
        font-weight: bold
        font-size: 16px
        line-height: 18px
        text-transform: uppercase

        @media $desktop
          font-size: 24px
          line-height: 36px    
      
      &__misc
        margin-bottom: 40px

        font-size: 14px
        line-height: 22px

        @media $tablet
          margin-bottom: 0

        @media $desktop
          font-size: 18px
          line-height: 36px

        p
          margin-bottom: 0

      &__descr
        font-size: 14px
        line-height: 24px

        @media $tablet
          font-size: 14px
          line-height: 36px

        @media $desktop 
          font-size: 18px
          line-height: 36px

      &__subheading
        text-transform: uppercase
        font-weight: bold
