.contacts

    &__img
        display: none

        @media $tablet
            display: block
            margin: 0 -20px 57px

        @media $desktop
            margin: 0 -72px 142px

    &__wrap 
        display: flex
        flex-direction: column-reverse

        @media $tablet
            flex-direction: row

    &__map
        margin-bottom: 25px

    &__info
        font-size: 12px
        line-height: 24px
        font-weight: bold

        @media $tablet
            max-width: 260px
            margin-right: 34px
            flex-grow: 0
            flex-shrink: 0

        @media $desktop_small
            max-width: 647px
            font-size: 24px
            line-height: 48px

        @media $desktop 
            margin-right: 74px

        p 

            @media $desktop
                margin-bottom: 60px

    &__heading
        margin-bottom: 25px

        font-size: 14px
        line-height: 19px

        @media $desktop_small
            font-size: 36px
            line-height: 48px

        @media $desktop
            margin-bottom: 140px