.index

  &__img
    display: none

    @media $desktop_small
      display: block
      margin: 0 -20px 68px
      text-align: center

    @media $desktop 
      margin: 0 -72px 68px
  &__text

    @media $desktop_small
      margin-bottom: 120px

.vendors
  padding: 0

  @media $desktop_small
    margin-bottom: 100px

  @media $tablet
    padding: 0 20px

  &__item
    display: flex !important
    align-items: center
    flex-direction: column
    justify-content: center
    height: 30px

    @media $desktop_small
      height: 90px

    a
      max-height: 100%
      max-width: 100%

    img
      margin: 0 auto

  &__prev
    display: block!important
    position: absolute
    top: calc(50% - 8px)
    left: -10px
    background-image: url('../img/general/slider-prev-small.png')
    background-size: cover
    background-position: center center
    background-repeat: no-repeat
    width: 6px
    height: 17px

    @media $tablet
      top: calc(50% - 12px)
      left: -20
      background-image: url('../img/general/slider-prev-big.png')
      width: 13px
      height: 23px

  &__next
    display: block!important
    position: absolute
    top: calc(50% - 8px)
    right: -10px
    background-image: url('../img/general/slider-next-small.png')
    background-size: cover
    background-position: center center
    background-repeat: no-repeat
    width: 6px
    height: 17px

    @media $tablet
      top: calc(50% - 12px)
      right: -20
      background-image: url('../img/general/slider-next-big.png')
      width: 13px
      height: 23px